
.root {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    text-align: center;

    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #333;
    //box-shadow: inset 0px 0px 60px 20px rgba(0,0,0,0.5);
}

.cell, .cell:before {
    height: 100%;
}
.cell:before {
    content: '';
    margin-right: -0.25em; /* Adjusts for spacing */
}
.cell:before, .container {
    vertical-align: middle;
    display: inline-block;
}

.container {
    text-align: left;
    max-height: 100vh;
    overflow: auto;
}

_:-moz-tree-row(hover), .container {
    padding: 2px 0px;
}   

table, th, td {
  //border: 1px solid black;
}

table {
    margin: 20px;
}

td {
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.arrowTd {
    font-size: 20px;
    color: #EEEEEE;
    padding: 10px;
}

.letterTd{
    min-width: 150px;
    min-height: 150px;

}

.letterDiv {
    font-family: 'Press Start 2P';
    margin: 5px;
    font-weight: bold;
    font-size: 40px;
}

.letterDivInf {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
    margin: 5px;

}

.autoConv {

    font-family: 'VT323';
    border-radius: 7px;
    margin:  5px;
    border:  2px solid #BBB;
    //box-shadow: 0px 5px #BBB;

}

.autoConv .miniButton,
.autoConv .miniButtonDisabled {

    font-size: 20px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
    padding: 3px 10px;
    color: #333;

}

.autoConv .title {
    font-family: 'VT323';
    font-size: 12px;
    color: #fff;
    border-radius: 5px 5px 0 0;
    padding:  2px 5px;
    background-color: #BBB;
}

.autoConv .action {
    display: flex;
}

.autoConv .add {
    border-radius: 0 0 0 5px;
    border-right:  2px solid #BBB;
}

.autoConv .max {
    border-radius: 0 0 5px 0;
    border-left:  2px solid #BBB;
}

.autoConv .level {
    font-size: 20px;
    flex-grow: 1;
    padding: 3px 10px;
    color:  #333;
}


.countDiv {
    font-family: VT323;
    font-size: 24px;
    color:  #333;
}

.countDiv .change {

    background-color: #BBB;
    color: #FFF;
    padding: 2px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 15px;

}

.letterBoxDiv {

    min-height: 100px;
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
    background-color: #EEEEEE;
    border-radius: 10px;
    position: relative;
    color:  #333;
    border-width: 3px;
    border-style: solid;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0px 10px;
    color: #BBB;
    border-color: #BBB;
    transition: 0.1s;

}

.letterBoxDiv.letter-A,
.letterBoxDiv.letter-B,
.letterBoxDiv.letter-C,
.letterBoxDiv.letter-D,
.letterBoxDiv.letter-E {
    color: #f54242;
    border-color: #f54242;
}

.letterBoxDiv.letter-F,
.letterBoxDiv.letter-G,
.letterBoxDiv.letter-H,
.letterBoxDiv.letter-I,
.letterBoxDiv.letter-J {
    color: #4287f5;
    border-color: #4287f5;
}

.letterBoxDiv.letter-K,
.letterBoxDiv.letter-L,
.letterBoxDiv.letter-M,
.letterBoxDiv.letter-N,
.letterBoxDiv.letter-O {
    color: #00d162;
    border-color: #00d162;
}

.letterBoxDiv.letter-P,
.letterBoxDiv.letter-Q,
.letterBoxDiv.letter-R,
.letterBoxDiv.letter-S,
.letterBoxDiv.letter-T {
    color: #f5cb42;
    border-color: #f5cb42;
}

.letterBoxDiv.letter-U,
.letterBoxDiv.letter-V,
.letterBoxDiv.letter-W,
.letterBoxDiv.letter-X,
.letterBoxDiv.letter-Y
.letterBoxDiv.letter-Z {
    color: #bc42f5;
    border-color: #bc42f5;
}

.letterBoxDiv:hover{

 //transform: translateY(-5px);
 //box-shadow: 0px 15px;

}


.letterBoxDiv:active{

 box-shadow: 0px 5px;
 transform: translateY(5px);

}

.letterBoxDivPaused {
    background-color:  #777;
}

.upgradeButton {
    font-size: 22px;
    display: inline-block;
    border: 1px solid darkblue;
    margin: 5px;
    cursor: pointer;
}



.optionsButton {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 32px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hardResetButton {
    background: red;
    margin-top: 20px;
    margin-right: 20px;
}

.softResetButton {
    background: #FF7777;
    margin-top: 20px;
    margin-right: 20px;
}


.upgradeDescTd {
    text-align: left;
}


.miniButton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.miniButton {
    background-color: #FFFFFF;
}


.miniButtonDisabled {
    background-color: #AAAAAA;
}

.smallText i {
    font-size: 12px !important;
}

.ownedText {
    background: lightgray;
}

.centerTd {
    align-content: center;
    text-align: center;
}

.alignLeft {
    align-content: left;
    text-align: left;
}

.pause {
    position: absolute;
    top: 5px;
    left: 5px;
}

.settings {
    position: absolute;
    top: 5px;
    right: 5px;
}

.pause, .settings {

    padding:  3px 7px;
    border-radius: 100px;
    border:  2px solid #BBB;

}

.tooltip {

    font-family: 'VT323';
    font-size: 16px !important;

}

.altShiftStateDiv {
    height: 30px;
}